.property {
  .property-image {
    padding-top: calc(2 / 3 * 100%); // aspect ratio 3:2
    background-size: cover;
    background-position: center;
  }
}

footer {
  position:fixed;
  left:0;
  bottom:0;
  right:0;
}

.container {
  padding-bottom:60px
}
